@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
nav {
    background: #005f96;
}
footer.page-footer {
    background-color: #14268b; 
}
div#footer-copiryght{
    width: 100%;
    background: #2c3061;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1 0 auto;
}
main#my_view {
    background-color: #3b5998;
    width: 100%;
}
div#gameView {
    width: 95%;
    height: 120%;
}
img.resize-image {
    width: 60%;
    height: 60%;
}
div.card-link {
    margin-bottom: -20%;
}
.press2play {
    font-family: 'Press Start 2p';
}
.h13px {
    font-size: 13px;
}
.collection {
background-color: transparent;
height: 30%;
overflow-y: scroll;
}